<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contributor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="static/css/contribute2" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="static/css/contribute.css">
    <link rel="icon" type="image/png" sizes="16x16" href="https://ssccpromotion.xyz/images/favicon.png">
  </head>

  <body>
    <div class = "page" style="background-color: black; color: aliceblue; text-align: center;">
      <h2>Developer</h2>  
      <br><br><br><br><br><br><br><br>
      <h3>Team Leader</h3>
      <h4>36기 백승우</h4>
      <br><br>
      <h3>Machine & Server</h3>
      <h4>40기 원영진</h4>
      <br><br>
      <h3>Web</h3>
      <h4>36기 백승우</h4>
      <br><br><br><br><br><br><br><br>
      
      <a href='http://promotion.sscc.run/' class="sscc" target="_blank" rel="noopener noreferrer">
        <img src="static/images/logo.png">
      </a>
      <a href='https://www.instagram.com/sscc_ssu/' class="sscc" target="_blank" rel="noopener noreferrer">
        <h3>@sscc_ssu</h3>
      </a>
    </div>
    
    <footer>
      <a href="https://ssccpromotion.xyz/contributor.html#" style="color: #6e6e6e; font-size: 18px">© 2023 SoongSil Computing Club</a>
    </footer>
  </body>
</html>