<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h4>main</h4>
        <a class="link-source" href="http://ssccounter.shop" class="sorce" target="_blank" rel="noopener noreferrer"><p>http://ssccounter.shop</p></a>
        <br>
        <h4>json</h4>
        <a class="link-source" href="http://ssccounter.shop/SSCCounter.json" class="sorce" target="_blank" rel="noopener noreferrer"><p>http://ssccounter.shop/SSCCounter.json</p></a>
        <br>
        <h4>manager</h4>
        <a class="link-source" href="http://ssccounter.shop/manager.page" class="sorce" target="_blank" rel="noopener noreferrer"><p>http://ssccounter.shop/manager.page</p></a>
        <br>
        <h4>manager_image</h4>
        <a class="link-source" href="http://ssccounter.shop/manager.Image" class="sorce" target="_blank" rel="noopener noreferrer"><p>http://ssccounter.shop/manager.Image</p></a>
        <br>
        <h4>File_Upload_location</h4>
        <a class="link-source" href="http://ssccounter.shop/uploadfile" class="sorce" target="_blank" rel="noopener noreferrer"><p>http://ssccounter.shop/uploadfile</p></a>
    </body>
</html>